.form {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}
.textarea {
    resize: none;
}

.tableStyle {
    margin-left: 15%;
    margin-right: 15%;
}

.fontStyle {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}